* {
    margin: 0px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
  }
  .social-icons {
    text-align: right;
    padding-right: 55px;
  }
  .social-icons a {
    padding: 0 10px;
  }
 
  
  :root {
    --panel-bg-color: white;
    --container-bg-color: white;
    --text-color: black;
}

:root[theme="dark"] {
    --panel-bg-color: black;
    --container-bg-color:rgb(27, 26, 26);
    --text-color: white;
}
body{
    color: var(--text-color);
    background-color: var(--container-bg-color);
}
nav {
    background-color: var(--panel-bg-color);
    color: var(--text-color);
}
nav div ul a {
    color: var(--text-color);
    background-color: var(--container-bg-color);
    
}
div{
    background-color: var(--container-bg-color);
    color: var(--text-color);
}
footer{
    background-color: var(--panel-bg-color);
    color: var(--text-color);
}
 footer a i{
    color: var(--text-color);
 }

